<!DOCTYPE html>
<html>
<head>
  <title>Paleohacks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
          <% if current_user %>
            <p class="navbar-text navbar-right">Logged in as <strong> <%= current_user.email %> </strong></p>
            <%= link_to "Log out",    destroy_user_session_path, method: :delete, class: "btn btn-danger navbar-btn pull-right" %>
             <% if current_user.admin? %>
               <%= link_to "Topics", admin_topics_path, class: "btn btn-primary navbar-btn pull-right" %>
               <%= link_to "Users", admin_users_path, class: "btn btn-primary navbar-btn pull-right" %>
            <% end -%>
            <% else %>
              <%= link_to "Sign up",     new_user_registration_path, class: "btn btn-success navbar-btn pull-right" %>
              <%= link_to "Log In", user_session_path, class: "btn btn-success navbar-btn pull-right" %>
            <% end -%>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
